{% load static %}
{% block header %}
  <header class="bg-light">
    <div class="container-xxl">
      <nav class="navbar navbar-expand-lg navbar-light">
        {% comment %} <a class="navbar-brand" href="/">Brand</a> {% endcomment %}
        {% comment %} <a class="navbar-brand" href="/"><img src="{% static 'images/logo-quotes2_cr.svg' %}" alt="Logo" /></a> {% endcomment %}
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo-quotes3.svg' %}" alt="Logo" width="30" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Quotes to Scrape</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li> {% endcomment %}
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}
